@model StellarMinds.Models.TelescopioModel

@{
    //si es edición o creación
    bool esEdicion = Model != null && Model.IdEquipo > 0;
}

<h1>Crear Telescopio</h1>
<hr />
<div class="row">
    <div class="col-md-4">

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }

        <form asp-action="@(esEdicion ? "EditTelescopio" : "CreateTelescopio")" asp-route-id="@Model?.IdEquipo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (esEdicion)
            {
                <input type="hidden" asp-for="IdEquipo" />
            }

            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>

            <div class="form-group">    
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CantidadDisponible" class="control-label"></label>
                <input asp-for="CantidadDisponible" class="form-control" />
                <span asp-validation-for="CantidadDisponible" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Apertura" class="control-label"></label>
                <input asp-for="Apertura" class="form-control" />
                <span asp-validation-for="Apertura" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RelacionFocal" class="control-label"></label>
                <input asp-for="RelacionFocal" class="form-control" />
                <span asp-validation-for="RelacionFocal" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DistanciaFocal" class="control-label"></label>
                <input asp-for="DistanciaFocal" class="form-control" />
                <span asp-validation-for="DistanciaFocal" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<p class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</p>

