@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success">
        @ViewBag.Mensaje
    </div>
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
</div>
